* {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  background-size: cover;
  width: 100%;
  height: 950px;
}

@media (max-width: 480px) {
  .app {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}