.aside {
    margin-left: 2px;
    background-color: rgba(0,0,0, 0.3);
    flex-direction: row;
    width: 20%;
    align-items: start;
    border-radius: 30px;
    border: solid 1px grey;
    backdrop-filter: blur(5px);
    
}
@media (max-width: 1439px) {
    .aside {
        margin-left: 0;
        flex-direction: column;
        width: 30%;
        border-radius: 15px;
    }
}
@media (max-width: 1023px) {
    .aside {
        margin-left: 0;
        flex-direction: column;
        width: 100%;
        border-radius: 15px;
    }
}

@media (max-width: 765px) {
    .aside {
        margin-left: 0;
        flex-direction: column;
        width: 100%;
        border-radius: 15px;
    }
}
