.city_container {

}
.city{
    font-size: 80px;
    color: black;
}
@media (max-width: 430px) {
    .city{
        font-size: 60px;
        color: black;
    }
}
.date{
    font-size: 40px;
    color: white
}
.time{
    font-size: 40px;
    color: white
}
.description{
    font-size: 40px;
    color: black;
}