.conteiner_temp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.text{
    text-align: center;
    color: white;
    font-size: 18px;
    
}
.celsius_current{
    color: white;
    font-size: 45px;
}
.pharyngitis_current{
    color: white;
    font-size: 45px;
}
.celsius_12hours{
    font-size: 45px;
    color: white;
    }
.pharyngitis_12hours{
    font-size: 45px;
    color: white;
}

@media (max-width: 765px) {
    .conteiner_temp{
        flex-direction: column;
        align-items: center;

    }
}