.container_temp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.currentTempContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.futureTempContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    text-align: center;
    color: white;
    font-size: 18px;
    
}
.celsius_current{
    color: white;
    font-size: 45px;
}
.pharyngitis_current{
    color: white;
    font-size: 45px;
}
.celsius_12hours{
    font-size: 45px;
    color: white;
    }
.pharyngitis_12hours{
    font-size: 45px;
    color: white;
}

@media (max-width: 1023px) {
    .container_temp {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

}

@media (max-width: 765px) {
    .container_temp {
        flex-direction: column;
        align-items: center;
    }
    .currentTempContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .futureTempContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
