.conteiner_temp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.currentTemp_container{
    display: flex;
    gap: 30px
}
.futureTemp_container {
    display: flex;
    gap: 30px;
}
.text{
    color: white;
    font-size: 21px;
    
}
.celsius_current{
    color: white;
    font-size: 60px;
}
.pharyngitis_current{
    color: white;
    font-size: 60px;
}
.celsius_12hours{
    font-size: 60px;
    color: white;
    }
.pharyngitis_12hours{
    font-size: 60px;
    color: white;
}

@media (max-width: 480px) {
    .conteiner_temp{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}