
.city{
    font-size: 120px;
    color: white;
}
.date{
    font-size: 40px;
    color: white
}
.time{
    font-size: 40px;
    color: white
}
.description{
    font-size: 50px;
    color: white;
}